@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.containerOne {
  width: 100%;
  height: 470px;
  background-color: #013243;
  background-image: url("../img/iPhone Mockup.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 40px;
}
.textH1 {
  padding-top: 20px;
  color: #86bfd3;
  text-align: center;
}
.containerTwo {
  padding: 40px 60px;
}
h2 {
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 15px;
}
label {
  font-weight: 800;
  padding: 10px 0 10px;
}
.email,
.password {
  font-size: 15px;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 0.3rem;
  padding-left: 10px;
  height: 60px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
.contaienrCheckbox {
  margin: 20px 0;
  display: flex;
}
.textChecbox {
  font-weight: 500;
  padding: 0 30px 0 10px;
}
.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  color: white;
  background-color: #013243;
  height: 50px;
  width: 100%;
  border-style: none;
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 10px 13px -7px #000000;
  cursor: pointer;
}
.check {
  padding: 30px;
}
a {
  color: #013243;
  font-weight: 600;
}
